{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <div class="container">
        <h1>About Loraine:</h1>
        <p>I am a Junior in SSFHS.</p>
        <p>A 17-year old Filipino girl living in South San Francisco.</p>
        <p>I basically have no life other than just doing schoolwork.<br>
        Well I guess I love writing songs, it's my favorite hobby. <br>
        I also love listening to and singing songs from my favorite bands.<br>
        Speaking of which, I mostly listen to pop-punk, punk-rock, pop-rock, and rock songs.<br>
        [Anything that has live instruments is great]<br>
        Speaking of 'live instruments', I'm amateur at the guitar. I'm terrible but I try.<br>
        I'm an honors student (I'm currently taking AP Lang and Alg 2 Honors)<br>
        and I have a 4.2 GPA average.
        </p>
        <img src='static/images/music.png' class="img-rounded" alt='music notes'></img>
        <h2>Songs I've Written:</h2>
        <p>As I have mentioned, I love to write original songs. <br>
        Here are some of them:</p>
        <ul>
            <li>"Miracle"</li>
            <li>"Highlight Of The Night"</li>
            <li>"Penthouse"</li>
            <li>"Quit"</li>
            <li>"Whatcha Gonna Do"</li>
            <li>"Let Me Be"</li>
            <li>"Steadily Unstable"</li>
            <li>"Losing My Mind (I'm Fine)"</li>
            <li>"X's and O's"</li>
        </ul>
        <h3>Need a Band Member?</h3>
        <p>I got you! I can sing, write lyrics, and help produce songs.</p>
    </div>
{% endblock %}
