{% extends "base.html" %}

{% block title %}Snap Project{% endblock %}

{% block content %}
    <div class="container">
        <h1>The Show Must Go On:</h1>
        <p>Help a kid get to a concert in time.</p>
        <iframe width=600 height=500 src="https://bjc.edc.org/snapsource/snap.html#present:Username=lcruz54&ProjectName=Cruz-FINAL_PROJECT%20(Fall)"></iframe>
        <p><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=lcruz54&ProjectName=Cruz-FINAL_PROJECT%20(Fall)">Click here if the game doesn't work on this website.</a></p>
    </div>
{% endblock %}
